body{
  background-color: pink;
}
p{
  color: purple;
font-size: 
}
h1{
  color: #007BFF;
}
img{
  width: px;
  height: 200px;
}

ol{
  color: blue;
list-style-type: upper-roman;
float: left;
  
}


#jplovesbacon{ color: yellow;
}

#kylovesbacon{ color: orange;
}

.gabrielle{
  border: 7px solid white;
  
}